<ul>
    <li>{person.firstName}</li>
    <li>{person.lastName}</li>
    <li><f:format.nl2br>{person.description}</f:format.nl2br></li>
    <li>
        <f:if condition="{person.showProfile}">
            <f:then>Öffentliches Profil</f:then>
            <f:else>Geschlossenes Profil</f:else>
        </f:if>
    </li>
    <f:if condition="{person.over30}"><li>Ganz schön alt</li></f:if>
    <li><f:format.date format="d.m.Y">{person.dateOfBirth}</f:format.date></li>
    <li><f:link.page class="btn btn-primary">Back...</f:link.page></li>
</ul>
