
<!-- Navigation -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">

    <a class="navbar-brand" href="/">
        <f:image src="{f:uri.resource(path:'Images/in2code.png', extensionName:'template')}" width="200" />
    </a>
    <p style="color: white">{pagetitle}</p>

    <form action="{f:uri.page(pageUid:9)}">
        <input type="text" placeholder="Search..." name="tx_indexedsearch_pi2[search][sword]" value="{f:cObject(typoscriptObjectPath:'lib.searchterm')}" />
        <input type="hidden" name="id" value="9" />
        <input type="hidden" name="tx_indexedsearch_pi2[action]" value="search" />
    </form>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarResponsive">
        <f:cObject typoscriptObjectPath="lib.menu">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Services</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Contact</a>
                </li>
            </ul>
        </f:cObject>
    </div>
</nav>

<!--TYPO3SEARCH_begin-->
<f:render section="Main" />
<!--TYPO3SEARCH_end-->

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Your Website 2017</p>
    </div>
    <!-- /.container -->
</footer>
