<f:render partial="Navigation" />

<!-- Header - set the background image for the header in the line below -->
<header class="py-5 bg-image-full" style="background-image: url('https://unsplash.it/1900/1080?image=1076');">
    <f:image
            class="img-fluid d-block mx-auto"
            src="EXT:template/Resources/Public/Images/in2code.png"
            width="200" />
</header>




<f:render section="Content" />



<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <p class="m-0 text-center text-white">
                    <f:cObject typoscriptObjectPath="lib.date">Copyright &copy; Your Website 2017</f:cObject>
                </p>
            </div>
            <div class="col-md-4">
                <f:cObject typoscriptObjectPath="lib.menufooter">
                    <ul class="navigation-footer">
                        <li><a href="#">Impressum</a></li>
                        <li><a href="#">AGB</a></li>
                    </ul>
                </f:cObject>
            </div>
        </div>
    </div>
    <!-- /.container -->
</footer>
