/var/
/vendor/
composer.lock

/public/index.php
/public/fileadmin
/public/typo3
/public/typo3temp
/public/uploads
/public/typo3conf/PackageStates.php
/public/typo3conf/LocalConfiguration.php
/public/typo3conf/l10n
!/public/typo3conf/AdditionalConfiguration
!/public/typo3conf/AdditionalConfiguration.php
/public/typo3conf/ext/*
!/public/typo3conf/ext/template/

.idea
