<ul>
    <li>
        <h3>{employee.fullName}</h3>
    </li>
    <li><f:format.nl2br>{employee.description}</f:format.nl2br></li>
    <li>Geburtsdatum: <f:format.date format="%d.%m.%Y">{employee.birthdate}</f:format.date></li>
    <li>Erstellungsdatum: <f:format.date format="%d.%m.%Y">{employee.crdate}</f:format.date></li>
    <li>
        Mobiltelefon:
        <f:alias map="{value:employee.companyMobile}">
            <f:render partial="Checkmark" arguments="{_all}" />
        </f:alias>
    </li>
    <li>
        Ist über 18:
        <f:alias map="{value:employee.atLeast18}">
            <f:render partial="Checkmark" arguments="{_all}" />
        </f:alias>
    </li>
    <li>
        <f:image image="{employee.image}" width="200" />
    </li>
</ul>
