<f:form.validationResults for="employee">
    <f:if condition="{validationResults.flattenedErrors}">
        <ul class="alert alert-danger">
            <f:for each="{validationResults.flattenedErrors}" as="errors" key="property">
                <f:for each="{errors}" as="singleError">
                    <li title="{singleError.code}">
                        <f:translate key="validation.{singleError.code}" arguments="{0:property}">{singleError.message}</f:translate>
                    </li>
                </f:for>
            </f:for>
        </ul>
    </f:if>
</f:form.validationResults>
