{namespace persons=In2code\Persons\ViewHelpers}
<f:layout name="Default" />


<f:section name="main">
    <f:render partial="Filter" arguments="{_all}" />

    <f:flashMessages />
    <f:comment>
        Flashmessages in TYPO3 8.7 and newer:
        <f:flashMessages as="flashMessages">
            <ul class="{flashMessageClass}">
                <f:for each="{flashMessages}" as="flashMessage">
                    <li>{flashMessage.message}</li>
                </f:for>
            </ul>
        </f:flashMessages>
    </f:comment>

    <f:for each="{persons}" as="person">
        <div>
            <ul>
                <li><h2>{person.fullName}</h2></li>
                <li>
                    <persons:newsletter person="{person}" />
                </li>
                <li><f:format.date format="%d.%m.%Y">{person.birthdate}</f:format.date></li>
                <li>Über 18: {person.over18}</li>
            </ul>
        </div>
    </f:for>


    <f:link.action action="new">Neuer Datensatz anlegen</f:link.action>


    <f:comment>
        Language label example:
        <f:translate key="no" />
        {f:translate(key:'no')}
    </f:comment>
</f:section>
